<h1>HomePages#home</h1>
<p>Find me in app/views/home_pages/home.html.erb</p>

<%= link_to "Home", home_path %>
<%= link_to "Help", help_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>